.auth-page-wrapper {
  padding: 15px;
  .form-container {
    max-width: 650px;
    min-width: 650px;
    margin: 0 auto;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 50px 60px;
    position: relative;
    .form-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      line-height: 60px;
      h2 {
        margin-bottom: 0;
      }
      p {
        color: #999999;
        font-size: 14px;
        margin-bottom: 0;
        a {
          color: #1c6edc;
          cursor: pointer;
        }
      }
    }
    .form-check-label {
      font-size: 12px;
      color: #999999;
      line-height: 22px;
    }
    .back-btn {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    .form-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        font-size: 14px;
        line-height: 14px;
        padding: 0 30px;
        text-align: center;
        color: #999999;
        margin-top: 5px;
      }
    }
    .links-forgot {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h5 {
        color: #999999;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 10px;
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        color: #1c6edc;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .button_wrapper {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .input_item {
      margin-bottom: 20px;
      margin-top: 25px;
      .form_link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin-bottom: 0;
        }
      }
      input {
        width: 100%;
        border: 1px solid #e9ebec;
      }
    }
    .label-redirection {
      line-height: 36px;
      text-align: right;
      a {
        color: #999;

        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth-content {
    .auth-page-wrapper {
      width: 100%;
      .form-container {
        padding: 15px;
        max-width: unset !important;
        min-width: unset !important;
        .form-title {
          flex-direction: column;
        }
        .back-btn {
          top: 0;
          left: 10px;
        }
        .form-header {
          h2 {
            font-size: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
