form {
  font-family: sans-serif;
  margin: 10px;
}

.title-bloc {
  text-align: center;
}

.signature {
  font-size: large;
  font-family: "Sacramento";
}
input[type="checkbox"] {
  margin-right: 10px;
}
