.paddingManage {
  padding-left: 2px;
  padding-right: 2px;
  line-height: 18px;
}
.lblMng {
  font-size: larger;
  font-weight: 500;
}

.mngPdg {
  padding-left: 15px;
}

.headerHeading1 {
  // font-size: large;
  // font-weight: bold;
  background: #0084d6;
  color: white;
}
