.mrAuto {
  font-size: large !important;
  font-weight: 500 !important;
}
.header-section {
  position: fixed;
  z-index: 9;
  width: 100%;
  .navbar {
    .navbar-brand {
      margin-right: 30px;
      img {
        height: 55px;
        width: 125px;
      }
    }
    .navbar-collapse {
      a {
        padding: 0.5em 0.3rem;
        font-size: 0.65em;
        margin: 0 0.65rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.2s linear;
        color: #fff;
        font-weight: 500;
        &:hover {
          color: #479fda !important;
        }
      }
    }
    .links {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 0;
      padding: 10px 0;
      list-style: none;
      a {
        margin: 0 15px;
        transition: all 0.2s linear;
        position: relative;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
        font-size: 12px;
        font-weight: 800;
        color: #fff;
        &:hover {
          color: #479fda !important;
          text-decoration: none;
        }
      }
    }
    .button-wrapper {
      display: flex;
      padding: 10px 0;
      list-style: none;
      align-items: center;
      margin: auto 0 0;
      .login {
        padding: 0 5px;
        &:hover {
          color: transparent;
          text-decoration: none;
        }
        span {
          color: #fff;
          background: transparent;
          border: 3px solid #fff;
          padding: 12px 25px;
          margin: auto;
          cursor: pointer;
          font-family: "Josefin Sans", sans-serif;
          font-size: 11px;
          font-weight: 800;
        }
      }
      .get-started {
        padding: 0 5px;
        span {
          border: 3px solid #fff;
          background: #fff;
          color: #212121;
          padding: 12px 25px;
          margin: auto;
          font-family: "Josefin Sans", sans-serif;
          font-size: 11px;
          font-weight: 500;
          &:hover {
            background: #479fda !important;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }
}

.full-screen {
  position: relative;
  top: 0;
  min-height: 100vh;
  .background {
    background-image: url("/images/telehealthwp.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}
.header-text-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 999;
  .header-title {
    h1 {
      font-size: 45px;
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
    }
    h3 {
      color: #e3e6f0;
      font-weight: 600;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}
@media screen and (max-width: 992px) {
  .header-section {
    position: relative;
    z-index: 9;
    .navbar {
      .navbar-collapse {
        a {
          padding: 0.5em 0.3rem;
          font-size: 0.65em;
          margin: 0 0.65rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          transition: all 0.2s linear;
          color: #212121;
          font-weight: 500;
          &:hover {
            color: #479fda !important;
          }
        }
      }
      .links {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 0;
        padding: 10px 0;
        list-style: none;
        a {
          margin: 0 15px;
          transition: all 0.2s linear;
          position: relative;
          cursor: pointer;
          font-family: "Josefin Sans", sans-serif;
          font-size: 12px;
          font-weight: 800;
          color: #fff;
          &:hover {
            color: #479fda !important;
            text-decoration: none;
          }
        }
      }
      .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        .login {
          padding: 0 5px;
          margin-right: 0;
          margin-bottom: 8px;
          &:hover {
            color: transparent;
            text-decoration: none;
          }
          span {
            color: #212121;
            background: transparent;
            border: 3px solid #212121;
            padding: 12px 25px;
            margin: auto;
            cursor: pointer;
            font-family: "Josefin Sans", sans-serif;
            font-size: 11px;
            font-weight: 800;
          }
        }
        .get-started {
          padding: 0 5px;
          margin-right: 0;
          span {
            border: 3px solid #479fda !important;
            background: #479fda !important;
            color: #fff;
            padding: 12px 25px;
            margin: auto;
            font-family: "Josefin Sans", sans-serif;
            font-size: 11px;
            font-weight: 500;
            &:hover {
              background: #212121;
              color: #fff;
              cursor: pointer;
              transition: all 0.2s linear;
            }
          }
        }
      }
    }
  }
}
